@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');
.container {
    background-color: rgb(20, 4, 19);
    font-family: 'STIX Two Math', serif;
}

button {
    margin-top: 10px;
}

#search {
    color: rgb(21, 9, 245);
    text-shadow: red;
    font-weight: bolder;
    font-size: larger;
}

#searching {
    margin-top: 40px;
    width: 90%;
}

#profile {
    height: 105px;
    width: 105px;
}

#prof,
#prof1 {
    margin: 5px;
    box-shadow: 10px 10px 5px -1px rgba(221, 11, 211, 0.66);
    -webkit-box-shadow: 10px 10px 5px -1px rgba(250, 11, 250, 0.66);
    -moz-box-shadow: 10px 10px 5px -1px rgba(5, 107, 121, 0.66);
}

#prof1 {
    margin-left: 20px;
}

#sch {
    background-image: url("../../assets/github.jpeg");
    margin: 5px;
    height: 195px;
    padding: 10px;
    box-shadow: 10px 10px 5px -1px rgba(34, 207, 11, 0.66);
    -webkit-box-shadow: 10px 10px 5px -1px rgba(3, 0, 194, 0.66);
    -moz-box-shadow: 10px 10px 5px -1px rgba(0, 128, 0, 0.66);
}

#btl {
    margin: 15px;
    margin-left: 25px;
}

#des,
#dat {
    color: rgb(236, 19, 207);
    font-weight: bold;
    font-style: italic;
}

#dtfn {
    font-weight: bold;
}